USE [master]
GO
/****** Object:  Database [QL_Laptop]    Script Date: 15/12/2025 11:56:21 PM ******/
CREATE DATABASE [QL_Laptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_Laptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_Laptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_Laptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_Laptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Laptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Laptop]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 15/12/2025 11:56:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerType] [tinyint] NULL,
	[CustomerName] [nvarchar](500) NULL,
	[RepresentativeName] [nvarchar](150) NULL,
	[TaxCode] [varchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[CustomerNote] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceCategory]    Script Date: 15/12/2025 11:56:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NULL,
	[ModelCount] [int] NULL,
	[TotalQuantity] [int] NULL,
	[LastUpdated] [date] NULL,
 CONSTRAINT [PK_DeviceCategory_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceModel]    Script Date: 15/12/2025 11:56:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ModelName] [nvarchar](50) NULL,
	[Configuration] [nvarchar](250) NULL,
	[TotalQuantity] [int] NULL,
	[InStockQuantity] [int] NULL,
	[InUseQuantity] [int] NULL,
	[BrokenQuantity] [int] NULL,
	[LastUpdatedAt] [date] NULL,
 CONSTRAINT [PK_DeviceModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [CustomerType], [CustomerName], [RepresentativeName], [TaxCode], [Address], [Phone], [Email], [CustomerNote]) VALUES (1, 2, N'Đại Học CMC', N'Anh Hải', N'0101176391', N'Số 84C, Đường Nguyễn Thanh Bình, Vạn Phúc, Hà Đông, Hà Nội', NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [CustomerType], [CustomerName], [RepresentativeName], [TaxCode], [Address], [Phone], [Email], [CustomerNote]) VALUES (2, 1, N'Nguyễn Văn Chiến', N'', N'125883568', N'17A Ngõ 21, Lê Văn Lương, Thanh xuân, Hà Nội', N'0332929444', N'', N'')
INSERT [dbo].[Customers] ([CustomerId], [CustomerType], [CustomerName], [RepresentativeName], [TaxCode], [Address], [Phone], [Email], [CustomerNote]) VALUES (3, 2, N'CÔNG TY TNHH ASOMEIT', N'Chị Hà Vy', N'0110852832', N'Tầng 8, Riki Office 01, 40 P. Hàm Nghi, Cầu Diễn, Cầu Giấy, Hà Nội.', N'0988706809', N'', N'')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceCategory] ON 

INSERT [dbo].[DeviceCategory] ([Id], [CategoryName], [ModelCount], [TotalQuantity], [LastUpdated]) VALUES (1, N'Laptop', 0, 0, CAST(N'2025-12-13' AS Date))
INSERT [dbo].[DeviceCategory] ([Id], [CategoryName], [ModelCount], [TotalQuantity], [LastUpdated]) VALUES (2, N'CasePC', 0, 0, CAST(N'2025-12-13' AS Date))
INSERT [dbo].[DeviceCategory] ([Id], [CategoryName], [ModelCount], [TotalQuantity], [LastUpdated]) VALUES (3, N'Màn hình máy tính', 0, 0, CAST(N'2025-12-13' AS Date))
SET IDENTITY_INSERT [dbo].[DeviceCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceModel] ON 

INSERT [dbo].[DeviceModel] ([Id], [CategoryId], [ModelName], [Configuration], [TotalQuantity], [InStockQuantity], [InUseQuantity], [BrokenQuantity], [LastUpdatedAt]) VALUES (1, 1, N'Dell Latitude E5480', N'Core i5 8350U, ram 16gb, ssd 256gb', 151, 151, 0, 0, CAST(N'2025-12-14' AS Date))
INSERT [dbo].[DeviceModel] ([Id], [CategoryId], [ModelName], [Configuration], [TotalQuantity], [InStockQuantity], [InUseQuantity], [BrokenQuantity], [LastUpdatedAt]) VALUES (5, 1, N'Dell Latitude E7470', N'Core i5 6200U, ram 8gb, ssd 256gb', 0, 0, 0, 0, CAST(N'2025-12-14' AS Date))
INSERT [dbo].[DeviceModel] ([Id], [CategoryId], [ModelName], [Configuration], [TotalQuantity], [InStockQuantity], [InUseQuantity], [BrokenQuantity], [LastUpdatedAt]) VALUES (6, 1, N'Dell Latitude E5490', N'Core i5 8350U, ram 16gb, ssd 256gb', 0, 0, 0, 0, CAST(N'2025-12-14' AS Date))
SET IDENTITY_INSERT [dbo].[DeviceModel] OFF
GO
ALTER TABLE [dbo].[DeviceModel]  WITH CHECK ADD  CONSTRAINT [FK_DeviceModel_DeviceCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[DeviceCategory] ([Id])
GO
ALTER TABLE [dbo].[DeviceModel] CHECK CONSTRAINT [FK_DeviceModel_DeviceCategory]
GO
USE [master]
GO
