USE [master]
GO
/****** Object:  Database [QL_Laptop]    Script Date: 04/01/2026 01:15:42 PM ******/
CREATE DATABASE [QL_Laptop] ON  PRIMARY 
( NAME = N'QL_Laptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_Laptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_Laptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_Laptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Laptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Laptop]
GO
/****** Object:  Table [dbo].[CustomerDevices]    Script Date: 04/01/2026 01:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDevices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[DeliveryDate] [date] NULL,
	[Quantity] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ReturnDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 04/01/2026 01:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerType] [tinyint] NULL,
	[CustomerName] [nvarchar](500) NULL,
	[RepresentativeName] [nvarchar](150) NULL,
	[TaxCode] [varchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[CustomerNote] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceCategory]    Script Date: 04/01/2026 01:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NULL,
	[ModelCount] [int] NULL,
	[TotalQuantity] [int] NULL,
	[LastUpdated] [date] NULL,
 CONSTRAINT [PK_DeviceCategory_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceImport]    Script Date: 04/01/2026 01:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceImport](
	[ImportId] [int] IDENTITY(1,1) NOT NULL,
	[ModelId] [int] NOT NULL,
	[ImportQuantity] [int] NULL,
	[Partner] [nvarchar](500) NULL,
	[ImportType] [tinyint] NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_DeviceImport_1] PRIMARY KEY CLUSTERED 
(
	[ImportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceModel]    Script Date: 04/01/2026 01:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ModelName] [nvarchar](50) NULL,
	[Configuration] [nvarchar](250) NULL,
	[TotalQuantity] [int] NULL,
	[InStockQuantity] [int] NULL,
	[InUseQuantity] [int] NULL,
	[BrokenQuantity] [int] NULL,
	[LastUpdatedAt] [date] NULL,
 CONSTRAINT [PK_DeviceModel_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 04/01/2026 01:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[DeviceRequirement] [nvarchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Days] [int] NOT NULL,
 CONSTRAINT [PK__OrderDet__D3B9D36C784F0C78] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 04/01/2026 01:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[DeliveryDate] [date] NULL,
	[DeviceRequirement] [nvarchar](500) NULL,
	[ReturnDate] [date] NULL,
	[RentDays] [int] NULL,
	[DeliveryAddress] [nvarchar](255) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[DepositAmount] [decimal](18, 2) NULL,
	[Status] [tinyint] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/01/2026 01:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [tinyint] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Users__1788CC4C1E283B1B] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderList]    Script Date: 04/01/2026 01:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OrderList]
AS
SELECT 
    o.OrderId,
    o.CustomerId,
    o.CreatedAt,
    o.DeliveryDate,
    o.ReturnDate,
    o.DeviceRequirement,
    o.RentDays,
    o.Quantity,
    o.UnitPrice,
    o.DepositAmount,
    o.Status,
    c.CustomerType,
    c.CustomerName,
    c.RepresentativeName
FROM dbo.Orders o
JOIN dbo.Customers c ON c.CustomerId = o.CustomerId;
GO
SET IDENTITY_INSERT [dbo].[CustomerDevices] ON 

INSERT [dbo].[CustomerDevices] ([Id], [CustomerId], [ModelId], [DeliveryDate], [Quantity], [Status], [ReturnDate]) VALUES (1, 2, 7, CAST(N'2026-01-04' AS Date), 4, 1, NULL)
INSERT [dbo].[CustomerDevices] ([Id], [CustomerId], [ModelId], [DeliveryDate], [Quantity], [Status], [ReturnDate]) VALUES (2, 2, 28, CAST(N'2026-01-04' AS Date), 1, 2, CAST(N'2026-01-04' AS Date))
INSERT [dbo].[CustomerDevices] ([Id], [CustomerId], [ModelId], [DeliveryDate], [Quantity], [Status], [ReturnDate]) VALUES (3, 48, 28, CAST(N'2026-01-04' AS Date), 2, 2, CAST(N'2026-01-04' AS Date))
SET IDENTITY_INSERT [dbo].[CustomerDevices] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [CustomerType], [CustomerName], [RepresentativeName], [TaxCode], [Address], [Phone], [Email], [CustomerNote]) VALUES (1, 2, N'Đại Học CMC', N'Anh Hải', N'0101176391', N'Số 84C, Đường Nguyễn Thanh Bình, Vạn Phúc, Hà Đông, Hà Nội', N'0868033257', NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [CustomerType], [CustomerName], [RepresentativeName], [TaxCode], [Address], [Phone], [Email], [CustomerNote]) VALUES (2, 1, NULL, N'Nguyễn Văn Chiến', N'125883568', N'17A Ngõ 21, Lê Văn Lương, Thanh xuân, Hà Nội', N'0332929444', NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [CustomerType], [CustomerName], [RepresentativeName], [TaxCode], [Address], [Phone], [Email], [CustomerNote]) VALUES (3, 2, N'CÔNG TY TNHH ASOMEIT', N'Chị Hà Vy', N'0110852832', N'Tầng 8, Riki Office 01, 40 P. Hàm Nghi, Cầu Diễn, Cầu Giấy, Hà Nội.', N'0988706809', N'', N'')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceCategory] ON 

INSERT [dbo].[DeviceCategory] ([Id], [CategoryName], [ModelCount], [TotalQuantity], [LastUpdated]) VALUES (1, N'Laptop', 0, 0, CAST(N'2025-12-13' AS Date))
INSERT [dbo].[DeviceCategory] ([Id], [CategoryName], [ModelCount], [TotalQuantity], [LastUpdated]) VALUES (2, N'CasePC', 0, 0, CAST(N'2025-12-13' AS Date))
INSERT [dbo].[DeviceCategory] ([Id], [CategoryName], [ModelCount], [TotalQuantity], [LastUpdated]) VALUES (3, N'Màn hình máy tính', 0, 0, CAST(N'2025-12-13' AS Date))
SET IDENTITY_INSERT [dbo].[DeviceCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceImport] ON 

INSERT [dbo].[DeviceImport] ([ImportId], [ModelId], [ImportQuantity], [Partner], [ImportType], [Note]) VALUES (1, 1, 5, N'Test', 1, N'test note')
INSERT [dbo].[DeviceImport] ([ImportId], [ModelId], [ImportQuantity], [Partner], [ImportType], [Note]) VALUES (2, 7, 2, N'Test', 1, NULL)
INSERT [dbo].[DeviceImport] ([ImportId], [ModelId], [ImportQuantity], [Partner], [ImportType], [Note]) VALUES (3, 1, 3, N'Test', 1, NULL)
SET IDENTITY_INSERT [dbo].[DeviceImport] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceModel] ON 

INSERT [dbo].[DeviceModel] ([Id], [CategoryId], [ModelName], [Configuration], [TotalQuantity], [InStockQuantity], [InUseQuantity], [BrokenQuantity], [LastUpdatedAt]) VALUES (1, 1, N'Dell Latitude E5480', N'Core i5 8350U, ram 16gb, ssd 256gb', 155, 155, 0, 0, CAST(N'2025-12-26' AS Date))
INSERT [dbo].[DeviceModel] ([Id], [CategoryId], [ModelName], [Configuration], [TotalQuantity], [InStockQuantity], [InUseQuantity], [BrokenQuantity], [LastUpdatedAt]) VALUES (5, 1, N'Dell Latitude E7470', N'Core i5 6200U, ram 8gb, ssd 256gb', 2, 2, 0, 0, CAST(N'2025-12-26' AS Date))
INSERT [dbo].[DeviceModel] ([Id], [CategoryId], [ModelName], [Configuration], [TotalQuantity], [InStockQuantity], [InUseQuantity], [BrokenQuantity], [LastUpdatedAt]) VALUES (6, 1, N'Dell Latitude E5490', N'Core i5 8350U, ram 16gb, ssd 256gb', 100, 100, 0, 0, CAST(N'2025-12-26' AS Date))
SET IDENTITY_INSERT [dbo].[DeviceModel] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [CustomerId], [CreatedAt], [DeliveryDate], [DeviceRequirement], [ReturnDate], [RentDays], [DeliveryAddress], [UnitPrice], [DepositAmount], [Status], [Quantity]) VALUES (7, 2, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-01' AS Date), N'Pc gen 6', CAST(N'2026-01-06' AS Date), 6, N'Nghi An Trạm Lộ', CAST(100000.00 AS Decimal(18, 2)), CAST(2000000.00 AS Decimal(18, 2)), 3, 2)
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [CreatedAt], [DeliveryDate], [DeviceRequirement], [ReturnDate], [RentDays], [DeliveryAddress], [UnitPrice], [DepositAmount], [Status], [Quantity]) VALUES (8, 2, CAST(N'2026-01-03' AS Date), CAST(N'2026-01-03' AS Date), N'Laptop gen 6', CAST(N'2026-01-23' AS Date), 21, N'17A Ngõ 21, Lê Văn Lương, Thanh xuân, Hà Nội', CAST(70000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, 10)
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [CreatedAt], [DeliveryDate], [DeviceRequirement], [ReturnDate], [RentDays], [DeliveryAddress], [UnitPrice], [DepositAmount], [Status], [Quantity]) VALUES (9, 2, CAST(N'2026-01-03' AS Date), CAST(N'2026-01-01' AS Date), N'laptop gen 8', CAST(N'2026-01-03' AS Date), 3, N'17A Ngõ 21, Lê Văn Lương, Thanh xuân, Hà Nội', CAST(100000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 3, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Role], [IsActive]) VALUES (1, N'admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Quản trị hệ thống', N'admin@company.com', 2, 1)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Role], [IsActive]) VALUES (2, N'chien', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Nhân viên', N'chien@gmail.com', 1, 1)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Role], [IsActive]) VALUES (3, N'admin2', N'6336242455044fa3be2823028e70516e6c9006ba20c64cc8bfcfd422970d9dc9', N'Giám đốc công ty', N'chothuemaytinh@gmail.com', 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_CustomerDevices_CustomerId]    Script Date: 04/01/2026 01:15:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerDevices_CustomerId] ON [dbo].[CustomerDevices]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerDevices_ModelId]    Script Date: 04/01/2026 01:15:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerDevices_ModelId] ON [dbo].[CustomerDevices]
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E45749F977]    Script Date: 04/01/2026 01:15:42 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E45749F977] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerDevices] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Role__0A688BB1]  DEFAULT ((1)) FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__0B5CAFEA]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomerDevices]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDevices_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerDevices] CHECK CONSTRAINT [FK_CustomerDevices_Customers]
GO
ALTER TABLE [dbo].[CustomerDevices]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDevices_DeviceModel] FOREIGN KEY([ModelId])
REFERENCES [dbo].[DeviceModel] ([Id])
GO
ALTER TABLE [dbo].[CustomerDevices] CHECK CONSTRAINT [FK_CustomerDevices_DeviceModel]
GO
ALTER TABLE [dbo].[DeviceImport]  WITH CHECK ADD  CONSTRAINT [FK_DeviceImport_DeviceModel] FOREIGN KEY([ModelId])
REFERENCES [dbo].[DeviceModel] ([Id])
GO
ALTER TABLE [dbo].[DeviceImport] CHECK CONSTRAINT [FK_DeviceImport_DeviceModel]
GO
ALTER TABLE [dbo].[DeviceModel]  WITH CHECK ADD  CONSTRAINT [FK_DeviceModel_DeviceCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[DeviceCategory] ([Id])
GO
ALTER TABLE [dbo].[DeviceModel] CHECK CONSTRAINT [FK_DeviceModel_DeviceCategory]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
USE [master]
GO
