USE [master]
GO
/****** Object:  Database [QL_Laptop]    Script Date: 29/01/2026 05:53:24 PM ******/
CREATE DATABASE [QL_Laptop] ON  PRIMARY 
( NAME = N'QL_Laptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_Laptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_Laptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_Laptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Laptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Laptop]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[RentalAmount] [decimal](18, 2) NOT NULL,
	[DepositAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaidDate] [datetime] NOT NULL,
	[PaidUserId] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CustomerType] [tinyint] NOT NULL,
	[CustomerName] [nvarchar](255) NULL,
	[CompanyName] [nvarchar](255) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Bills__11F2FC6A2E4D6135] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDevices]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDevices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[DeliveryUserId] [int] NULL,
	[DeliveryDate] [date] NULL,
	[Quantity] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ReturnDate] [date] NULL,
 CONSTRAINT [PK__Customer__3214EC07ED3D52B6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerType] [tinyint] NULL,
	[CustomerName] [nvarchar](500) NULL,
	[RepresentativeName] [nvarchar](150) NULL,
	[TaxCode] [varchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[CustomerNote] [nvarchar](1000) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceBrokenLogs]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceBrokenLogs](
	[BrokenLogId] [int] IDENTITY(1,1) NOT NULL,
	[ModelId] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[BrokenReason] [nvarchar](500) NOT NULL,
	[EstimatedCost] [decimal](18, 2) NULL,
	[CostNote] [nvarchar](255) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__DeviceBr__1A61B2227FD408DF] PRIMARY KEY CLUSTERED 
(
	[BrokenLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceCategory]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NULL,
	[ModelCount] [int] NULL,
	[TotalQuantity] [int] NULL,
	[LastUpdated] [date] NULL,
 CONSTRAINT [PK_DeviceCategory_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceImport]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceImport](
	[ImportId] [int] IDENTITY(1,1) NOT NULL,
	[ModelId] [int] NOT NULL,
	[ImportQuantity] [int] NULL,
	[Partner] [nvarchar](500) NULL,
	[ImportType] [tinyint] NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_DeviceImport_1] PRIMARY KEY CLUSTERED 
(
	[ImportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceModel]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ModelName] [nvarchar](50) NULL,
	[Configuration] [nvarchar](250) NULL,
	[TotalQuantity] [int] NULL,
	[InStockQuantity] [int] NULL,
	[InUseQuantity] [int] NULL,
	[BrokenQuantity] [int] NULL,
	[LastUpdatedAt] [date] NULL,
 CONSTRAINT [PK_DeviceModel_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[DeliveryDate] [date] NULL,
	[DeviceRequirement] [nvarchar](500) NULL,
	[ReturnDate] [date] NULL,
	[RentDays] [int] NULL,
	[DeliveryAddress] [nvarchar](255) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[DepositAmount] [decimal](18, 2) NULL,
	[Status] [tinyint] NULL,
	[Quantity] [int] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [tinyint] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Users__1788CC4C1E283B1B] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTasks]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DueDate] [date] NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[IsDone] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderList]    Script Date: 29/01/2026 05:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OrderList]
AS
SELECT 
    o.OrderId,
    o.CustomerId,
    o.CreatedAt,
    o.DeliveryDate,
    o.ReturnDate,
    o.DeviceRequirement,
    o.RentDays,
    o.Quantity,
    o.UnitPrice,
    o.DepositAmount,
    o.Status,
    c.CustomerType,
    c.CustomerName,
    c.RepresentativeName
FROM dbo.Orders o
JOIN dbo.Customers c ON c.CustomerId = o.CustomerId;
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([BillId], [OrderId], [RentalAmount], [DepositAmount], [TotalAmount], [PaidDate], [PaidUserId], [Note], [CreatedDate], [CustomerType], [CustomerName], [CompanyName], [TaxCode], [Status]) VALUES (9, 44, CAST(14000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(14000000.00 AS Decimal(18, 2)), CAST(N'2026-01-29T17:27:55.480' AS DateTime), 1, N'', CAST(N'2026-01-29T17:27:55.480' AS DateTime), 0, N'', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerDevices] ON 

INSERT [dbo].[CustomerDevices] ([Id], [CustomerId], [ModelId], [DeliveryUserId], [DeliveryDate], [Quantity], [Status], [ReturnDate]) VALUES (28, 1, 11, 6, CAST(N'2026-01-18' AS Date), 5, 3, CAST(N'2026-01-19' AS Date))
INSERT [dbo].[CustomerDevices] ([Id], [CustomerId], [ModelId], [DeliveryUserId], [DeliveryDate], [Quantity], [Status], [ReturnDate]) VALUES (29, 2, 11, 2, CAST(N'2026-01-18' AS Date), 12, 3, CAST(N'2026-01-25' AS Date))
INSERT [dbo].[CustomerDevices] ([Id], [CustomerId], [ModelId], [DeliveryUserId], [DeliveryDate], [Quantity], [Status], [ReturnDate]) VALUES (30, 1, 11, 6, CAST(N'2026-01-18' AS Date), 33, 3, CAST(N'2026-01-19' AS Date))
SET IDENTITY_INSERT [dbo].[CustomerDevices] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [CustomerType], [CustomerName], [RepresentativeName], [TaxCode], [Address], [Phone], [Email], [CustomerNote], [CreatedDate]) VALUES (1, 2, N'Đại Học CMC', N'Anh Hải', N'0101176391', N'Số 84C, Đường Nguyễn Thanh Bình, Vạn Phúc, Hà Đông, Hà Nội', N'0868033257', NULL, NULL, CAST(N'2026-01-20T03:30:07.757' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [CustomerType], [CustomerName], [RepresentativeName], [TaxCode], [Address], [Phone], [Email], [CustomerNote], [CreatedDate]) VALUES (2, 1, NULL, N'Nguyễn Văn Chiến', N'125883568', N'17A Ngõ 21, Lê Văn Lương, Thanh xuân, Hà Nội', N'0332929444', NULL, NULL, CAST(N'2026-01-20T03:30:07.757' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [CustomerType], [CustomerName], [RepresentativeName], [TaxCode], [Address], [Phone], [Email], [CustomerNote], [CreatedDate]) VALUES (3, 2, N'CÔNG TY TNHH ASOMEIT', N'Chị Hà Vy', N'0110852832', N'Tầng 8, Riki Office 01, 40 P. Hàm Nghi, Cầu Diễn, Cầu Giấy, Hà Nội.', N'0988706809', N'', N'', CAST(N'2026-01-20T03:30:07.757' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceBrokenLogs] ON 

INSERT [dbo].[DeviceBrokenLogs] ([BrokenLogId], [ModelId], [CustomerId], [Quantity], [BrokenReason], [EstimatedCost], [CostNote], [Status], [CreatedBy], [CreatedAt]) VALUES (1, 11, 1, 1, N'Vỡ màn hình', NULL, NULL, 1, 1, CAST(N'2026-01-20T01:17:39.177' AS DateTime))
INSERT [dbo].[DeviceBrokenLogs] ([BrokenLogId], [ModelId], [CustomerId], [Quantity], [BrokenReason], [EstimatedCost], [CostNote], [Status], [CreatedBy], [CreatedAt]) VALUES (2, 11, NULL, 2, N'Hỏng quạt tản nhiệt', NULL, NULL, 1, 1, CAST(N'2026-01-20T01:17:39.177' AS DateTime))
INSERT [dbo].[DeviceBrokenLogs] ([BrokenLogId], [ModelId], [CustomerId], [Quantity], [BrokenReason], [EstimatedCost], [CostNote], [Status], [CreatedBy], [CreatedAt]) VALUES (3, 11, 1, 1, N'Mất sạc', NULL, NULL, 1, 1, CAST(N'2026-01-20T01:17:39.177' AS DateTime))
SET IDENTITY_INSERT [dbo].[DeviceBrokenLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceCategory] ON 

INSERT [dbo].[DeviceCategory] ([Id], [CategoryName], [ModelCount], [TotalQuantity], [LastUpdated]) VALUES (1, N'Laptop', 0, 0, CAST(N'2025-12-13' AS Date))
INSERT [dbo].[DeviceCategory] ([Id], [CategoryName], [ModelCount], [TotalQuantity], [LastUpdated]) VALUES (2, N'CasePC', 0, 0, CAST(N'2025-12-13' AS Date))
INSERT [dbo].[DeviceCategory] ([Id], [CategoryName], [ModelCount], [TotalQuantity], [LastUpdated]) VALUES (3, N'Màn hình máy tính', 0, 0, CAST(N'2025-12-13' AS Date))
SET IDENTITY_INSERT [dbo].[DeviceCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceImport] ON 

INSERT [dbo].[DeviceImport] ([ImportId], [ModelId], [ImportQuantity], [Partner], [ImportType], [Note]) VALUES (1, 1, 5, N'Test', 1, N'test note')
INSERT [dbo].[DeviceImport] ([ImportId], [ModelId], [ImportQuantity], [Partner], [ImportType], [Note]) VALUES (2, 7, 2, N'Test', 1, NULL)
INSERT [dbo].[DeviceImport] ([ImportId], [ModelId], [ImportQuantity], [Partner], [ImportType], [Note]) VALUES (3, 1, 3, N'Test', 1, NULL)
SET IDENTITY_INSERT [dbo].[DeviceImport] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceModel] ON 

INSERT [dbo].[DeviceModel] ([Id], [CategoryId], [ModelName], [Configuration], [TotalQuantity], [InStockQuantity], [InUseQuantity], [BrokenQuantity], [LastUpdatedAt]) VALUES (1, 1, N'Dell Latitude E5480', N'Core i5 8350U, ram 16gb, ssd 256gb', 255, 255, 0, 0, CAST(N'2026-01-04' AS Date))
INSERT [dbo].[DeviceModel] ([Id], [CategoryId], [ModelName], [Configuration], [TotalQuantity], [InStockQuantity], [InUseQuantity], [BrokenQuantity], [LastUpdatedAt]) VALUES (5, 1, N'Dell Latitude E7470', N'Core i5 6200U, ram 8gb, ssd 256gb', 202, 202, 0, 0, CAST(N'2026-01-25' AS Date))
INSERT [dbo].[DeviceModel] ([Id], [CategoryId], [ModelName], [Configuration], [TotalQuantity], [InStockQuantity], [InUseQuantity], [BrokenQuantity], [LastUpdatedAt]) VALUES (6, 1, N'Dell Latitude E5490', N'Core i5 8350U, ram 16gb, ssd 256gb', 100, 100, 0, 0, CAST(N'2025-12-26' AS Date))
SET IDENTITY_INSERT [dbo].[DeviceModel] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [CustomerId], [CreatedAt], [DeliveryDate], [DeviceRequirement], [ReturnDate], [RentDays], [DeliveryAddress], [UnitPrice], [DepositAmount], [Status], [Quantity], [CategoryId]) VALUES (44, 1, CAST(N'2026-01-29' AS Date), CAST(N'2026-01-29' AS Date), N'thi tiếng anh, có phầm mềm seb', CAST(N'2026-01-29' AS Date), 1, N'Số 84C, Đường Nguyễn Thanh Bình, Vạn Phúc, Hà Đông, Hà Nội', CAST(70000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 3, 200, 1)
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [CreatedAt], [DeliveryDate], [DeviceRequirement], [ReturnDate], [RentDays], [DeliveryAddress], [UnitPrice], [DepositAmount], [Status], [Quantity], [CategoryId]) VALUES (45, 2, CAST(N'2026-01-29' AS Date), CAST(N'2026-01-22' AS Date), N'Dự án thi lên chức, cần chrome', CAST(N'2026-01-29' AS Date), 8, N'17A Ngõ 21, Lê Văn Lương, Thanh xuân, Hà Nội', CAST(60000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 3, 300, 1)
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [CreatedAt], [DeliveryDate], [DeviceRequirement], [ReturnDate], [RentDays], [DeliveryAddress], [UnitPrice], [DepositAmount], [Status], [Quantity], [CategoryId]) VALUES (46, 5, CAST(N'2026-01-29' AS Date), CAST(N'2026-01-30' AS Date), N'máy laptop gen 4 trở lên', CAST(N'2026-01-31' AS Date), 2, N'Số 5/230 phố Quan Nhân, Phường Thanh Xuân Trung, Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam', CAST(50000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 300, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Role], [IsActive]) VALUES (1, N'admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Quản trị hệ thống', N'admin@company.com', 2, 1)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Role], [IsActive]) VALUES (2, N'chien', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Kỹ thuật Chiến', N'chien67@gmail.com', 1, 1)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Email], [Role], [IsActive]) VALUES (3, N'admin2', N'6336242455044fa3be2823028e70516e6c9006ba20c64cc8bfcfd422970d9dc9', N'Giám đốc công ty', N'chothuemaytinh@gmail.com', 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_CustomerDevices_CustomerId]    Script Date: 29/01/2026 05:53:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerDevices_CustomerId] ON [dbo].[CustomerDevices]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerDevices_ModelId]    Script Date: 29/01/2026 05:53:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerDevices_ModelId] ON [dbo].[CustomerDevices]
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceBrokenLogs_CustomerId]    Script Date: 29/01/2026 05:53:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeviceBrokenLogs_CustomerId] ON [dbo].[DeviceBrokenLogs]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceBrokenLogs_ModelId]    Script Date: 29/01/2026 05:53:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeviceBrokenLogs_ModelId] ON [dbo].[DeviceBrokenLogs]
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceBrokenLogs_Status]    Script Date: 29/01/2026 05:53:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeviceBrokenLogs_Status] ON [dbo].[DeviceBrokenLogs]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E45749F977]    Script Date: 29/01/2026 05:53:24 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E45749F977] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills] ADD  CONSTRAINT [DF__Bills__CreatedDa__4D2A7347]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[CustomerDevices] ADD  CONSTRAINT [DF__CustomerD__Statu__1B9317B3]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DeviceBrokenLogs] ADD  CONSTRAINT [DF__DeviceBro__Statu__5E54FF49]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DeviceBrokenLogs] ADD  CONSTRAINT [DF__DeviceBro__Creat__5F492382]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Role__0A688BB1]  DEFAULT ((1)) FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__0B5CAFEA]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WorkTasks] ADD  DEFAULT ((2)) FOR [Priority]
GO
ALTER TABLE [dbo].[WorkTasks] ADD  DEFAULT ((0)) FOR [IsDone]
GO
ALTER TABLE [dbo].[WorkTasks] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CustomerDevices]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDevices_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerDevices] CHECK CONSTRAINT [FK_CustomerDevices_Customers]
GO
ALTER TABLE [dbo].[CustomerDevices]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDevices_DeviceModel] FOREIGN KEY([ModelId])
REFERENCES [dbo].[DeviceModel] ([Id])
GO
ALTER TABLE [dbo].[CustomerDevices] CHECK CONSTRAINT [FK_CustomerDevices_DeviceModel]
GO
ALTER TABLE [dbo].[CustomerDevices]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDevices_Users] FOREIGN KEY([DeliveryUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CustomerDevices] CHECK CONSTRAINT [FK_CustomerDevices_Users]
GO
ALTER TABLE [dbo].[DeviceBrokenLogs]  WITH CHECK ADD  CONSTRAINT [FK_DeviceBrokenLogs_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[DeviceBrokenLogs] CHECK CONSTRAINT [FK_DeviceBrokenLogs_Customers]
GO
ALTER TABLE [dbo].[DeviceBrokenLogs]  WITH CHECK ADD  CONSTRAINT [FK_DeviceBrokenLogs_DeviceModel] FOREIGN KEY([ModelId])
REFERENCES [dbo].[DeviceModel] ([Id])
GO
ALTER TABLE [dbo].[DeviceBrokenLogs] CHECK CONSTRAINT [FK_DeviceBrokenLogs_DeviceModel]
GO
ALTER TABLE [dbo].[DeviceImport]  WITH CHECK ADD  CONSTRAINT [FK_DeviceImport_DeviceModel] FOREIGN KEY([ModelId])
REFERENCES [dbo].[DeviceModel] ([Id])
GO
ALTER TABLE [dbo].[DeviceImport] CHECK CONSTRAINT [FK_DeviceImport_DeviceModel]
GO
ALTER TABLE [dbo].[DeviceModel]  WITH CHECK ADD  CONSTRAINT [FK_DeviceModel_DeviceCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[DeviceCategory] ([Id])
GO
ALTER TABLE [dbo].[DeviceModel] CHECK CONSTRAINT [FK_DeviceModel_DeviceCategory]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_DeviceCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[DeviceCategory] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_DeviceCategory]
GO
USE [master]
GO
