
@{ ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <div class="card">
                <div class="card-header bg-warning">
                    <h3 class="card-title ">Danh sách đơn hàng cần chuẩn bị</h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên Công Ty</th>
                                        <th>Đại diện</th>
                                        <th>MST</th>
                                        <th>Điện thoại</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-primary">
                    <h3 class="card-title ">Đơn hàng đang hoạt động</h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên Công Ty</th>
                                        <th>Đại diện</th>
                                        <th>MST</th>
                                        <th>Điện thoại</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-success">
                    <h3 class="card-title ">Đơn hàng đã hoàn thành</h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên Công Ty</th>
                                        <th>Đại diện</th>
                                        <th>MST</th>
                                        <th>Điện thoại</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

